<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


  <bean id="globalProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <qualifier value="globalProps"/>
    <property name="locations">
      <array>
        <value>classpath:META-INF/app.properties</value>
        <value>classpath:META-INF/build.properties</value>
        <value>WEB-INF/web.properties</value>
      </array>
    </property>
  </bean>
</beans>